---
layout: page
permalink: /docs/
---



<div class="docs-menu">
    <ul>
    {% for doc in site.posts %}
        {% if doc.category == "docs" %}
        <li><a href="#{{ doc.title }}">{{ doc.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>

<h2>
    Vizabi documentation
</h2>

<div class="docs">
    {% for doc in site.posts %}
        {% if doc.category == "docs" %}
            <h1 id="{{ doc.title }}">{{ doc.title }}</h1>
            {{ doc.content }}
        {% endif %}
    {% endfor %}
</div>