.docs-menu {
	@include border-radius(3px);
	list-style: none;
	display: block;
    width: 215px;
    float: left;
    margin: 0px;
    padding: 30px;
    background-color: #F7F7F7;
    font-size: 17px;
    line-height: 2;
    &> li {
    	list-style: none;
        &> a {
            display: block;
            color: #666666;
        }
    }

    @include breakpoint(not-large) {
		display: none;
    }
}

.docs-content {
    margin-left: 320px;

    @include breakpoint(not-large) {
		margin-left: 0px;
	}
}