.docs-menu {
	@include border-radius(3px);
	list-style: none;
	display: block;
    width: 215px;
    float: left;
    margin: 0px;
    padding: 30px;
    background-color: #F7F7F7;
    font-size: 17px;
    line-height: 2;
    &> li {
    	list-style: none;
        &> a {
            display: block;
            color: #666666;
        }
    }

    @include breakpoint(not-large) {
		display: none;
    }
}

.docs-content {
    margin-left: 320px;

    @include breakpoint(not-large) {
		margin-left: 0px;
	}

	h1 {
		font-weight: bold;
	}
}

.docs-article {
	h1 {
	  margin-left: -32px;
	  padding-left: 32px;
	  padding-top: 40px;
	}

	h1, p {
	  position: relative;
	}

	h1 .link {
	  display: none;
	  @include position(absolute, 40px null null 0);
	  width: 33px;
	  color: #CCCCCC;
	  font-size: 27px;
	  line-height: 54px;
	}

	h1:hover .link {
	  display: block;
	}

	h1 .link:active {
	  color:  #afc256;
	}
}

.docs-page-title {
	color: #cccccc;
	font-size: 24px;
}